@import "./websiteColor.css";
@import "./mobile.css";
body{
  overflow: hidden;
}
/* FOR HEADER TAG */
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 13vw 5px 15px;
  background-color: var(--bgColor);
  color: var(--txtColor);
}

.head-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon-name img{
  max-width: 55px;
  margin: 0 8px 0 0;
}

.login-logout img{
  max-width: 20px;
  margin: 0 0 0 8px;
}

.logout-hover:hover{
  opacity: .5;
  cursor: pointer;
}
/* FOR NAVIGATION TAG */
.nav-main-container{
  display: flex;
  height: 93vh;
  width: 100%;
}

nav{
  max-width: 180px;
  display: flex; 
  flex-direction: column;
  background-color: var(--bgColor);
}

nav .nav-list{
  list-style: none;
}

nav .nav-item{
  font-size: 18px;
  margin-top: 15px;
  padding: 10px;
  cursor: pointer;
}

nav .nav-link{
  color: var(--txtColor);
  text-decoration: none;
  font-weight: bold;
}

nav .active{
  border-radius: 5px;
  background-color: rgba(76,91,60,.5);
}

nav .nav-item:hover{
  border-radius: 5px;
  background-color: rgba(76,91,60,.5);
  transition: .3s;
}
/* FOR MAIN TAG */
main{
  width: 90%;
  padding: 18px 0 15px 18px;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}

main table caption{
  font-size: 40px;
  font-weight: bolder;
  color: var(--txtColor);
}

main table{
  margin: 0 auto;
  border-collapse: collapse;
  box-shadow: 0 0 5px #808080;
  height: fit-content;
}

table th{
  font-size: 20px;
}

table tr, table th, table td{
  text-align: center;
  padding: 15px;
  text-align: left;
}

main table tr:nth-child(even){
  background-color: var(--liningColor);
  color: var(--txtColor);
  
}

main table tr:nth-child(odd){
  background-color: var(--bgColor);
  color: var(--txtColor);
}

main table .add-coin{
  background: var(--liningColor);
  color: var(--txtColor);
  font-weight: bold;
  padding: 7px;
  border: none;
  border-radius: 3px;
}

main table .add-coin:hover{
  cursor: pointer;
  transition: .5s;
  opacity: .6;
}
/* MODAL/POPUP CODE */
.modal{
  z-index: 3;
  display:none;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-container{
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 0;
  outline: 0;
  width: 600px;
  border-radius: 5px;
}

.modal-items{
  padding: 15px;
  display: none;
}

.modal-items h1{
  border-bottom: 1px solid var(--highlighterColor);
  color: var(--txtColor);
}

.modal-items form{
  margin-top: 8px;
}

.modal-items .input-container{
  margin-bottom: 8px;
}

.modal-items form .input-container input{
  padding: 5px;
}

.modal-items form .confirm{
  border: none;
  background-color: var(--confirmBtnColor);
  color: white;
  padding: 5px;
  border-radius: 3px;
}

.modal-items form .cancel{
  border: 1px solid var(--cancelBtnColor);
  color: var(--cancelBtnColor);
  background: none;
  padding: 5px;
  border-radius: 3px;
}

.modal-items form .confirm:hover, .modal-items form .cancel:hover{
  cursor: pointer;
  opacity: .5;
  transition: .3s;
}

/* RESPONSIVE CODES */
@media only screen and (max-width: 800px){
  header .ham-menu{
    display: block;
  }
  .login-logout{
    display: flex;
    flex-direction: column;
    padding: auto;
    justify-content: center;
  }
  nav{
    position: absolute;
    left: -180px;
    transition: .3s ease;
    z-index: 2;
    max-width: none;
  }
  main table caption{
    font-size: 1.9em;
  }
}

@media only screen and (max-width: 450px){
  .modal-container{
    width: 90%;
  }
}